*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  text-transform: uppercase;
  margin-top: 30px;
}

.content__accent {
  color: #545050;
}

.content {
  display: flex;
  align-items: flex-end;
  gap: 30px;
  margin-top: 105px;
}

.content__details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  inline-size: 380px;
  flex-shrink: 0;
  gap: 30px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  padding: 0 3px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  min-width: 194px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
  flex-basis: 0;
  overflow: hidden;
}
.content__video-card-description {
  font-size: 18px;
  line-height: 16.2px;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content__card-link {
  color: #ffffff;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #ffffff;
}

.content__card-link_current {
  background-color: #545050;
}

.content__list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 300px;
  overflow-y: auto;
}

.content__list-container::-webkit-scrollbar {
  width: 4px;
}

.result {
  display: flex;
  flex-direction: column;

  margin-left: 30px;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.result__video-container {
  inline-size: 711px;
  block-size: 386px;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}

.search-form__textfield {
  background-color: #1b1919;
  color: #fff;
}
.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  margin-bottom: 5px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}
.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
  box-sizing: border-box;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover {
  text-decoration: underline;
}

.button {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  padding: 6px 0;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__submit-button {
  align-self: flex-end;
  inline-size: 194px;
}

.more-button {
  inline-size: 100%;
}
